.versionHead {
	width:760px;
	height:24px;
	line-height:24px;
	border-bottom:1px solid #ccc;
	margin:0px 0px 10px 0px;
}
.versionName {
	height:24px;
	font-size:16px;
	float:left;
	font-weight:bold;
	color:#00f;
}
.versionActions {
	height:24px;
	font-size:12px;
	float:right;
	text-align:right;
}

.sectionHead {
	width:760px;
	padding:5px 0px;
	border-bottom:1px solid #000;
	font-size:20px;
	margin:0px 0px 10px;
}
.sectionBody {
	margin:0px 0px 20px 0px;
}


/* SUMMARY
-----------------------------------*/
#update_wikicode {
	width:760px;
	overflow:hidden;
	background:#eee;
	padding:10px 5px;
	margin:0px 0px 20px 0px;
}


/* NEW SHIP
-----------------------------------*/
.new_ship {
	width:360px;
	height:210px;
	margin:0px 10px 10px 0px;
	padding:5px;
	float:left;
	background:#dfd;
	border:1px solid #ccc;
}
.new_ship .ship_cg {
	width:125px;
	float:left;
	margin:0px 5px 0px 0px;
}
.new_ship .ship_cg img {
	width:125px;
}
.new_ship .ship_title {
	float:left;
	width:230px;
	height:24px;
	line-height:24px;
	font-size:12px;
	margin:0px 0px 3px 0px;
}
.new_ship .ship_title .ship_ID {
	width:30px;
	float:left;
	font-weight:bold;
	text-align:center;
	margin:0px 5px 0px 0px;
}
.new_ship .ship_title .ship_EN {
	width:160px;
	float:left;
	font-weight:bold;
	font-size:14px;
}

.new_ship .ship_content {
	width:224px;
	height:150px;
	padding:0px 0px 5px 0px;
	float:left;
}
.new_ship .ship_content .link {
	width:200px;
	height:18px;
	line-height:18px;
	margin:0px 0px 2px 20px;
	font-size:12px;
}
.new_ship .ship_content .link a {
	color:#00f;
}
.new_ship .ship_content textarea {
	width:224px;
	height:65px;
	background:#ffc;
	border:0px none;
	margin:5px 0px 0px 0px;
}
/*
.new_ship .ship_cg {
	width:125px;
	float:right;
}
.new_ship .ship_cg img {
	width:125px;
}
.new_ship .ship_title {
	width:230px;
	height:24px;
	line-height:24px;
	font-size:12px;
	margin:0px 0px 5px 0px;
}
.new_ship .ship_title .ship_ID {
	width:30px;
	float:left;
	font-weight:bold;
	text-align:center;
	margin:0px 5px 0px 0px;
}
.new_ship .ship_title .ship_JP {
	width:50px;
	float:left;
	margin:0px 5px 0px 0px;
}
.new_ship .ship_title .ship_EN {
	width:110px;
	float:left;
	font-weight:bold;
	font-size:14px;
}
.new_ship .ship_title .ship_CG {
	width:30px;
	float:left;
	text-align:center;
	font-weight:bold;
}
.new_ship .ship_title .ship_CG a {
	color:#00f;
}

.new_ship .ship_links {
	width:230px;
	height:20px;
	line-height:20px;
	font-size:12px;
	text-align:center;
	background:#afa;
	margin:0px 0px 5px 0px;
}
.new_ship .ship_links a {
	color:#00f;
}

.new_ship .ship_code {
	width:224px;
	height:150px;
	padding:0px 0px 5px 0px;
}
.new_ship .ship_code textarea {
	width:224px;
	height:150px;
	background:#ffc;
	border:0px none;
}*/


/* REMODELS
-----------------------------------*/
.remodel_ship {
	width:360px;
	height:185px;
	margin:0px 10px 10px 0px;
	padding:5px;
	float:left;
	background:#def;
	border:1px solid #ccc;
}
.remodel_ship .ship_cg {
	width:125px;
	float:left;
	margin:0px 5px 0px 0px;
}
.remodel_ship .ship_cg img {
	width:125px;
}
.remodel_ship .ship_title {
	float:left;
	width:230px;
	height:24px;
	line-height:24px;
	font-size:12px;
	margin:0px 0px 3px 0px;
}
.remodel_ship .ship_title .ship_ID {
	width:30px;
	float:left;
	font-weight:bold;
	text-align:center;
	margin:0px 5px 0px 0px;
}
.remodel_ship .ship_title .ship_EN {
	width:160px;
	float:left;
	font-weight:bold;
	font-size:14px;
}

.remodel_ship .ship_content {
	width:224px;
	height:150px;
	padding:0px 0px 5px 0px;
	float:left;
}
.remodel_ship .ship_content .link {
	width:200px;
	height:18px;
	line-height:18px;
	margin:0px 0px 2px 20px;
	font-size:12px;
}
.remodel_ship .ship_content .link a {
	color:#00f;
}
.remodel_ship .ship_content textarea {
	width:224px;
	height:65px;
	background:#ffc;
	border:0px none;
	margin:5px 0px 0px 0px;
}

/* EQUIPMENT
-----------------------------------*/
.new_item {
	width:360px;
	margin:0px 10px 10px 0px;
	padding:5px;
	float:left;
	background:#FFD99F;
	border:1px solid #ccc;
}
.new_item .itemInfo {
	width:360px;
	height:40px;
	margin:0px 0px 5px 0px;
}
.new_item .itemInfo .itemID {
	width:50px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	float:left;
	margin:0px 5px 0px 0px;
	background:#FFEBCC;
}
.new_item .itemInfo .itemJP {
	width:305px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	/*background:#cfc;*/
}
.new_item .itemInfo .itemEN {
	width:305px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	font-weight:bold;
	/*background:#ccf;*/
}


.new_item .itemCode {
	float:right;
	width:220px;
}
.new_item .itemCode textarea {
	width:210px;
	height:170px;
	background:#ffc;
}

.new_item .itemCard {
	width:130px;
	height:130px;
}
.new_item .itemCard img {
	width:130px;
	height:130px;
}
.new_item .itemCG {
	width:130px;
	height:50px;
}
.new_item .itemCG img {
	max-width:43px;
	max-height:50px;
}


/* COMPLETE LIST
-----------------------------------*/
.collapsible {
	width:760px;
	margin:5px;
	border:1px solid #ccc;
	background:#fff;
}
.collapsible-toggle {
	width:740px;
	padding:0px 10px;
	height:20px;
	line-height:20px;
	border-bottom:1px solid #ccc;
	font-size:12px;
}
.collapsible-toggle:hover {
	background:#ffc;
}
.collapsible-content {
	width:700px;
	display:none;
	word-wrap:break-word;
	font-size:12px;
}